.error {
    background: #FAE8E8;
    border: 1px solid #DAB3B6;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 15px;
    width: auto;
    height: auto;
    color: #333;
    display: block;
}
.error-ico {
    padding-left: 70px;
    background: url(../img/bullet_error.png) #FAE8E8 no-repeat 30px center;
}
input:focus {
    outline: none !important;
    border: 1px solid red;
    box-shadow: 0 0 5px red;
}
.bol{
    color: #000;
}